/*This line (and those that apply these fonts) supplied by google*/
@import url('https://fonts.googleapis.com/css?family=Bungee|Bungee+Inline|Lato|Rubik+Mono+One');

body {
  border: 0em;
  margin: 0em;
  padding: 0em;
  background-color: #99A799;
  min-width: 500px;
}

#name {
  float: left;
  padding-left: 2em;
  padding-top: 1em;
}

#indexName {
  margin-top: 20vh;
}

#name > a, #indexName > p {
  color: black;
  font-family: 'Bungee Inline', cursive;
  font-size: 60px;
  text-decoration: none;
  text-align: center;
}

#header {
  min-height: 20em;
  border: 0em;
  margin: 0em;
  padding: 0em;
  background: url("../img/flatironsPhoto.jpg");
  background-size: cover;
  opacity: 0.8;
}

#headerLinks {
  float: right;
  padding-top: 2em;
  padding-right: 1em;
}

#headerLinks > a {
  padding-right: 1em;
  color: black;
  font-size: x-large;
  text-decoration: none;
  font-size: 1.25em;
  font-family: 'Bungee', sans-serif;
}

#selectionWheel {
  display: block;
  margin: 10vh auto 0px auto;
  padding: 0px;
  border: solid thick black;
  clear: both;
  border-radius: 50%;
  height: 450px;
  width: 450px;
}

#indexLinks {
  padding-top: 45px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

#indexLinks a {
  color: black;
  font-size: 1em;
  font-family: 'Rubik Mono One', sans-serif;
  text-decoration: none;
}

#indexLinks tr {
  margin: 0px;
  padding: 0px;
  height: 175px;
}

#indexLinks td {
  text-align: center;
  margin: 0px;
  padding: 0px;
  width: 175px;
}

#pageTitle {
  clear: both;
  margin: 0px;
  padding: 0px;
  padding-top: 50px;
  text-align: center;
  font-size: 50px;
  font-family: 'Bungee', sans-serif;
}

#content {
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  border-top: solid thick black;
}

.contentSection {
  margin-bottom: 50px;
}

.contentSection > h2 {
  text-align: center;
  font-family: 'Rubik Mono One', sans-serif;
}

.contentSection > p {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: medium;
}

.card {
  display: inline-block;
  width: 15em;
  height: 15em;
  padding: 20px;
  margin: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: grey;
}

.card > h2 {
  margin: 0px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: xx-large;
}

.card > .cardDescription {
  margin-top: 0px;
  font-family: 'Lato', sans-serif;
  font-size: medium;
}

form {
  display: block;
  margin: auto;
  padding-left: 15%;
}

.fieldWrapper, #buttonWrapper {
  margin-top: 1em;
}

.fieldWrapper > input, .fieldWrapper > textarea {
  vertical-align: top;
}

.fieldWrapper > label {
  font-family: 'Bungee Inline', cursive;
  font-size: 1.5em;
  display: inline-block;
  width: 6em;
  text-align: right;
  margin-right: 1em;
}

.fieldWrapper > input {
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
}

.fieldWrapper > textarea {
  width: 20em;
  height: 12.5em;
  resize: none;
  overflow-y: scroll;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  max-width: 100%;
}

#buttonWrapper > button {
  font-family: 'Bungee Inline', cursive;
  font-size: 1.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
