body {
  border: 0px;
  margin: 0px;
  padding: 0px;
  background-color: #AEAEAE;
}

#name > h1 {
  text-align: center;
  color: black;
}

#indexLinks > a {
  padding-top: 20px;
  padding-left: 20px;
  clear: left;
  float: left;
  color: black;
  font-size: x-large;
  text-decoration: none;
}

#header {
  height: 300px;
  border: 0px;
  margin: 0px;
  padding: 0px;
  background: url("../img/flatironsPhoto.jpg");
  background-size: cover;
  opacity: 0.8;
}

#headerLinks {
  float: right;
  padding-top: 20px;
  padding-right: 30px;
}

#headerLinks > a {
  padding-right: 10px;
  color: black;
  font-size: x-large;
  text-decoration: none;
}

#name {
  float: left;
  padding-left: 20px;
  padding-top: 15px;
}

#name > a {
  color: black;
  font-size: xx-large;
  text-decoration: none;
}

#pageTitle {
  clear: both;
  margin: 0px;
  padding: 0px;
  padding-top: 50px;
  text-align: center;
}

#content {
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.contentSection {
  margin-bottom: 50px;
}

.contentSection > h2 {
  text-align: center;
}

.contentSection > p {
  text-align: center;
}

.course {
  float: left;
  width: 260px;
  height: 260px;
  padding: 20px;
  margin: 20px;
  background-color: grey;
}
